{% extends "layout.html" %}
{% block title %}Мы РЯДОМ{% endblock %}
{% block content %}
<div class="mt-4">
    <h1 class="mb-4">Добро начинается с тебя</h1>
    <p class="lead">Этот сайт помогает людям, которые хотят делать добро, находить тех, кто в нём нуждается.</p>

    <div class="row mt-5">
        <div class="col-md-4">
            <h4>Пожилые люди</h4>
            <p>Одинокие бабушки и дедушки нуждаются в помощи по дому и общении. Вы можете приехать, помочь, поговорить и подарить тепло.</p>
        </div>
        <div class="col-md-4">
            <h4>Животные</h4>
            <p>Брошенные и больные животные нуждаются в уходе, лечении и добрых хозяевах. Поддержите приюты или помогите напрямую.</p>
        </div>
        <div class="col-md-4">
            <h4>Дети</h4>
            <p>Детям из сложных семей необходимы забота, вещи, игрушки и участие. Вы можете подарить радость ребёнку.</p>
        </div>
    </div>

    <div class="mt-5">
        <a href="/register" class="btn btn-primary btn-lg">Присоединиться</a>
    </div>
</div>
{% endblock %}
